$pb: padding-block-sm, padding-block-normal, padding-block-md, padding-block-lg, padding-block-xl, padding-block-xxl;
$pi: padding-inline-sm, padding-inline-normal, padding-inline-md, padding-inline-lg, padding-inline-xl, padding-inline-xxl;

$mb: margin-block-sm, margin-block-normal, margin-block-md, margin-block-lg, margin-block-xl, margin-block-xxl;
$mi: margin-inline-sm, margin-inline-normal, margin-inline-md, margin-inline-lg, margin-inline-xl, margin-inline-xxl;