/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main {
    background-color: white;
    padding: 50px;
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    border: 3px solid #666666;
    padding: 30px;
    width: 900px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}