@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

.container {
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 1000px;
}

.container div {
    margin: 20px;
    box-shadow: 3px 3px 5px 0 black;
    position: relative;
    transition: all 500ms;
    cursor: default;
}

.container div:hover {
    z-index: 1;
    transform: scale(1.3);
}

.task1 {
    background-color: #dbdbad;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(-3deg);
    position: relative;
    animation: postitAnimation 1s linear backwards;
}

.task2 {
    background-color: #b3d4b5;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(3deg);
    translate: 0 3px;
    animation: postitAnimation 1s linear 1s backwards;
}

.task3 {
    background-color: #aaaac4;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(-7deg);
    translate: -10px -6px;
    animation: postitAnimation 1s linear 2s backwards;
}

.task4 {
    background-color: #b3d4b5;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(8deg);
    translate: -15px -3px;
    animation: postitAnimation 1s linear 3s backwards;
}

.task5 {
    background-color: #dbdbad;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(-3deg);
    animation: postitAnimation 1s linear 4s backwards;
}

.task6 {
    background-color: #aaaac4;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(-10deg);
    translate: -3px -10px;
    animation: postitAnimation 1s linear 5s backwards;
}

.task7 {
    background-color: #dbdbad;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(-4deg);
    translate: -3px -10px;
    animation: postitAnimation 1s linear 6s backwards;
}

.task8 {
    background-color: #b3d4b5;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotate(4deg);
    translate: -15px -8px;
    animation: postitAnimation 1s linear 7s backwards;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

@keyframes postitAnimation {
    0% {
        scale: 3;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}